<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               ngModel>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!f.valid">Sign Up</button>
    </form>
  </div>
</div>
